$primary-color: #fede59;
$contact-btn-color: #fd5925;
$download-btn-color: #3e84fc;
$text-btn-color: rgba(255, 255, 255, 1);
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    border: 1px solid transparent;
    background-color: var(--color-bg-primary);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 22px;
    cursor: pointer;
    user-select: none;
}

.btn_default {
    border-radius: 4px;
    margin-left: 12px;
    min-width: 100px;
    letter-spacing: 0.5px;

}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $primary-color;
}

//Button types
.btn_contact {
    color: $text-btn-color;
    background-color: $contact-btn-color;
    min-height: 50px;
    width: 100%;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    line-height: 22px;
    font-weight: 600;
    font-size: 1.6rem;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), $contact-btn-color;
    }

}
.btn_download {
    color: $text-btn-color;
    background-color: $download-btn-color;
    min-height: 40px;
    width: 100%;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    line-height: 22px;
    font-weight: 500;
    font-size: 1.5rem;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), $download-btn-color;
    }
}





.login_big {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    min-width: 168px;
    min-height: 48px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 20px;
    width: 100%;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.follow {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgba(254, 44, 85, 1);
    border-color: rgba(254, 44, 85, 1);
    background-color: rgba(255, 255, 255, 1);
    min-width: 106px;
    min-height: 28px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    min-width: 88px;
    padding: 0 10px;
    font-family: ProximaNova, PingFangSC, sans-serif;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.theme {
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 50%;
    margin-left: 0;
    height: 40px;
    width: 40px;
    background-color: $text-btn-color;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        color: $primary-color;
    }
}

.get_app {
    border: none;
    background: none;
    outline: none;
    padding: 0 8px;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 14px;
    min-width: 90px;
    height: 32px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
