@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: transparent;
}

:root {
    --primary: #fede59;
    --primary-color: #000000;
    --color-box-bg: #fff;
    --color-bg-primary: #f6f8fa;
    --color-border-primary: #e1e4e8;
    --color-text-primary: #24292e;
    --color-text-white: rgba(255, 255, 255, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-text-primary-hover: #24292e;

    --color-btn-background-hover: #fede59;
    --color-btn-contact: #fd5925;
    --color-btn-download: #3e84fc;
    --color-bg-sideBar: rgba(254, 222, 89, 0.7);

    //width changes depending on screen size
    --container-width-large: 75%;
    --container-width-medium: 86%;
    --container-width-small: 90%;

    //default layout
    --default-layout-header-height: 72px;
    --default-layout-header-height-mobile: 50px;
    --default-layout-header-width: 1150px;
    --default-layout-horizontal-spacer: 120px;
    --default-layout-horizontal-spacer-mobile: 20px;
    
}

[data-theme='dark'] {
    --primary: #fede59;
    --primary-color: #000000;
    --color-box-bg: #161b22;
    --color-bg-primary: #0d1117;
    --color-border-primary: #24292e;
    --color-text-primary: rgba(255, 255, 255, 1);
    --color-text-white: rgba(255, 255, 255, 1);
    --color-text: #24292e;
    --color-text-primary-hover: #fede59;

    --color-btn-background-hover: transparent;
    --color-btn-contact: #fd5925;
    --color-btn-download: #3e84fc;
    --color-bg-sideBar: rgba(255, 255, 255, 0.8);


    //width changes depending on screen size
    --container-width-large: 75%;
    --container-width-medium: 86%;
    --container-width-small: 90%;

    //default layout
    --default-layout-header-height: 72px;
    --default-layout-header-height-mobile: 50px;
    --default-layout-header-width: 1150px;
    --default-layout-horizontal-spacer: 120px;
    --default-layout-horizontal-spacer-mobile: 20px;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background: var(--color-bg-primary);
    color: var(--primary-color);
}

// General styles
button {
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}
