@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
// $colors: #f2385a, #ffb86c, #21231e, #56d9cd, #3aa1bf;
$colors: #e0195b, #fd5925, #3e84fc, #5dda42;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: calc($time / $max);

.text {
    fill: none;
    stroke-width: 6.5;
    stroke-linejoin: round;
    stroke-dasharray: $dash $dash-space;
    stroke-dashoffset: 0;
    -webkit-animation: stroke $time infinite linear;
    animation: stroke $time infinite linear; 

    @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}) {
            $color: nth($colors, $item);
            stroke: $color;
            -webkit-animation-delay: -($time-step * $item);
            animation-delay: -($time-step * $item);
        }
    }
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
}

/* Other styles */

.a-link {
    display: inline-block;
    font-weight: 700;
    height:100%;
}

.svg {
    display: block;
    width: 100%;
    height: 2.5rem;
    background-color: transparent;
    font-weight: 700;

}
.name {
    font-size: 8em;
    // text-transform: uppercase;
}